<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulan.az.usluga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/order_service_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/order_service_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ulan.az.usluga.VerifyActivity" />
        <activity android:name="com.ulan.az.usluga.VerifyPhoneActivity" />
        <activity android:name="com.ulan.az.usluga.LoginActivity" />
        <activity
            android:name="com.ulan.az.usluga.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ulan.az.usluga.service.ServiceActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.ulan.az.usluga.service.ServiceMoreInfoActivity" />
        <activity android:name="com.ulan.az.usluga.order.OrderMoreInfoActivity" />
        <activity
            android:name="com.ulan.az.usluga.order.OrderActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.ulan.az.usluga.order.AddOrderActivity" />
        <activity android:name="com.ulan.az.usluga.service.AddServiceActivity" />
        <activity android:name="com.ulan.az.usluga.order.AddressActivity" />
        <activity
            android:name="com.ulan.az.usluga.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ulan.az.usluga.Profile.FavoritesActivity" />
        <activity
            android:name="com.ulan.az.usluga.SubCategory.SubCategoryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.ulan.az.usluga.Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.ulan.az.usluga.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ulan.az.usluga.push.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.ulan.az.usluga.forum.ForumInfoActivity" />
        <activity
            android:name="com.ulan.az.usluga.forum.ForumSubCategoryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.ulan.az.usluga.forum.ForumActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.ulan.az.usluga.Profile.MyOrderActivity" />
        <activity android:name="com.ulan.az.usluga.Profile.MyForumActivity" />
        <activity android:name="com.ulan.az.usluga.forum.AddForumActivity" />
        <activity android:name="com.ulan.az.usluga.MapActivity" />
        <activity android:name="com.ulan.az.usluga.order.OrderMapActivity" />
        <activity android:name="com.ulan.az.usluga.service.ServiceMapActivity" />
        <activity android:name="com.ulan.az.usluga.Profile.ProfileActivity"></activity>
    </application>

</manifest>