<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ulan.az.usluga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/order_service_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/order_service_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".SubCategory.LocationService"
            android:enabled="false"
            android:exported="false">

        </service>

        <activity android:name=".VerifyActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LocationActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".service.ServiceActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".service.ServiceMoreInfoActivity" />
        <activity android:name=".order.OrderMoreInfoActivity" />
        <activity
            android:name=".order.OrderActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".order.AddOrderActivity" />
        <activity android:name=".service.AddServiceActivity" />
        <activity android:name=".order.AddressActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Profile.FavoritesActivity" />
        <activity
            android:name=".SubCategory.SubCategoryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".push.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".forum.ForumInfoActivity" />
        <activity
            android:name=".forum.ForumSubCategoryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".forum.ForumActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Profile.MyOrderActivity" />
        <activity android:name=".Profile.MyForumActivity" />
        <activity android:name=".forum.AddForumActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".order.OrderMapActivity" />
        <activity android:name=".service.ServiceMapActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Profile.MyServiceActivity" />
        <activity android:name=".Profile.RedactorForumActivity" />
        <activity android:name=".Profile.RedactorOrderActivity" />
        <activity android:name=".forum.ForumMapActivity" />
        <activity android:name=".Profile.RedactorServiceActivity" />
        <activity android:name=".Profile.TenderActivity" />
        <activity android:name=".tender.TenderOrderActivity" />
        <activity android:name=".tender.service.TenderServiceActivity" />
        <activity android:name=".service.ImageActivity" />
    </application>

</manifest>